<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro alumno</ion-title>
  </ion-toolbar>
</ion-header>

<div id="container">
  <ion-card-content>
    <ion-item>
      <ion-label position="floating" [disabled]="getNoCtrl(noCtrl)">Número de control:</ion-label>
      <ion-input type="number" [(ngModel)]="noCtrl"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre completo:</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <br>
    <p>{{email}}</p>
    <br>
    <ion-button (click)="registrarAlumno()" color="success" expand="default">
      Registrarse
    </ion-button>
  </ion-card-content>
</div>